<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86450356340-9u265m2vph6acior8498tofc7t7b90a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86450356340-9u265m2vph6acior8498tofc7t7b90a4</string>
	<key>API_KEY</key>
	<string>AIzaSyCwryMrzyTTo9tSCGtbMqjNE1yrweMc7JI</string>
	<key>GCM_SENDER_ID</key>
	<string>86450356340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sparky.NoteScribe</string>
	<key>PROJECT_ID</key>
	<string>notescribe-733da</string>
	<key>STORAGE_BUCKET</key>
	<string>notescribe-733da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86450356340:ios:703c89d1b36a8c9c205121</string>
</dict>
</plist>